@media mq-md-min

  .component-navigation

    .navigation-menu
      position relative
      top 0

      .navigation-links
        transform translate3d(0, 0, 0)

        > li
          display inline-block

          a
            height navigation-height
            line-height navigation-height
            padding 0 (grid-gutter-width / 2)
