@import '_definitions'

.base-styles
  box-sizing border-box
  position relative

.container
  @extend .base-styles
  margin 0 auto
  padding 0 (grid-gutter-width / 2)

  @media screen-mq-sm-min
    width screen-sm-min-width - grid-gutter-width

  @media screen-mq-md-min
    width screen-md-min-width - grid-gutter-width

  @media screen-mq-lg-min
    width screen-lg-min-width - grid-gutter-width

  @media screen-mq-xl-min
    width screen-xl-min-width - grid-gutter-width

.row
  @extend .base-styles
  display flex
  flex-wrap wrap
  height 100%
  margin 0 (grid-gutter-width / -2)

generateShowHide(className)

  .hide-{className}
    display none

  .show-{className}
    display block

columnMixin()
  min-height 1px
  padding 0 (grid-gutter-width / 2)

generateColumnsFor(className)

  for num in (1..grid-columns)

    .col-{className}
      @extend .base-styles
      flex 1
      columnMixin()

    // col-xs-1, col-xs-2, ..., col-xs-12
    .col-{className}-{num}
      @extend .base-styles
      flex-basis unit((num / grid-columns) * 100, '%')
      columnMixin()

    // col-xs-offset-1, col-xs-offset-2, ..., col-xs-offset-12
    .col-{className}-offset-{num}
      margin-left unit((num / grid-columns) * 100, '%')

    // col-xs-pull-1, col-xs-pull-2, ..., col-xs-pull-12
    .col-{className}-pull-{num}
      right unit((num / grid-columns) * 100, '%')

    // col-xs-push-1, col-xs-push-2, ..., col-xs-push-12
    .col-{className}-push-{num}
      left unit((num / grid-columns) * 100, '%')

// mobile
@media screen-mq-xs-min

  generateColumnsFor('xs')
  generateShowHideFor('xs')

// small
@media screen-mq-sm-min

  generateColumnsFor('sm')
  generateShowHideFor('sm')

// medium
@media screen-mq-md-min

  generateColumnsFor('md')
  generateShowHideFor('md')

// large
@media screen-mq-lg-min

  generateColumnsFor('lg')
  generateShowHideFor('lg')

// extra-large
@media screen-mq-xl-min

  generateColumnsFor('xl')
  generateShowHideFor('xl')

.container-fluid
  width 100%
