// Utilities
.hidden
  display none

// Animation
@import 'animation'

// Grid
@import 'grid'

// Typography
@import 'typography'

// Components
@import 'components/header/styles'
@import 'components/navigation/styles'
